{% extends 'app/base.html' %}
{% load static %}

{%  block tienda %}

    <p>Estás buscando: <strong>{{query}}</strong></p>

        {% if inventarios %}
            <p>Articulos encontrados: {{inventarios|length}} articulos</p>

            
                {% for inventario in inventarios %}

                    <li> Nombre: {{inventario.nombre}} &nbsp;  Precio: $ {{inventario.precio}} &nbsp; Tipo: {{inventario.tipo}} </li>
                        
                {% endfor %}
           
        {% else %}
            <p>no esta el producto seleccionado</p> 
        
        
        {% endif %}

   

{%  endblock tienda %}