{% extends 'app/base.html' %}
{% load static %}

{%  block tienda %}

    <p>Estás buscando: <strong>{{query}}</strong></p>

        {% if plant %}
            <p>Articulos encontrados: {{plant|length}} articulos</p>

            
                {% for plantas in plant %}

                    <li> Nombre: {{plantas.nombre}} &nbsp;  Precio: $ {{plantas.precio}} &nbsp; Tamaño: {{plantas.tamaño}} &nbsp; Tipo: {{plantas.tipo}} </li>
                        
                {% endfor %}
           

        {% else %}
            <p>no esta el producto seleccionado</p>

        {% endif %}

{%  endblock tienda %}